h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}

.letter {
  font-size: 2000%;
  overflow:hidden;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;
}

.btnPrev {
  width: 50%;
}

.btnNext {
  width: 50%;
}
